@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Titillium+Web:wght@300;400;700&display=swap');

.general {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(/src/assets/gym-background.jpg) center / cover;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
}

.table-wrapper {
    width: 100%;
}

.tabla {
    display: block;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(6.5px);
    box-shadow: 0px 10px 10px #ccc;
    color: black;
    font-weight: 500;
    border-radius: 10px;
    white-space: nowrap;
    /*max-width: 100%;*/
    margin: auto;
    overflow-x: auto;
}

.tabla thead {
    background-color: #333;
    color: white;
}

.tabla th,
.tabla td {
    padding: 0.8rem;
}

.tabla td {
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabla tbody tr:hover {
    background-color: #eeeeee81;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actions svg {
    cursor: pointer;
}

.delete-btn {
    color: #e10d05;
}

.h1 {
    color: white;
    text-shadow: 3px 3px rgb(0, 0, 0);
}

.inputs-div {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 4px 4px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(6.5px);
    color: black;
    width: 100%;
}

.input[type=text],
.input[type=number] {
    width: 100%;
    border-radius: 4px;
}

.page-btn {
    padding: 0px 30px;
}

.page-btn {
    transition-duration: 0.4s;
}

.page-btn:hover {
    background-color: #5f6570;
    color: black;
    font-weight: 600;
}